In [1]:
import pandas as pd   #read the dataset
import numpy as np    #numerical python
import matplotlib.pyplot as plt #plot the graph
import seaborn as sns

In [2]:
# read the dataset
df = pd.read_csv('diabetes.csv')

In [3]:
df.head() # to display an output first file in your dataset

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
#main Aim  : to predict whether diabetes have or not ?

In [4]:
df.shape # how many rows and columns

(768, 9)

In [6]:
df.info()  # to check datasets or see the information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [7]:
df.isnull()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
763,False,False,False,False,False,False,False,False,False
764,False,False,False,False,False,False,False,False,False
765,False,False,False,False,False,False,False,False,False
766,False,False,False,False,False,False,False,False,False
767,False,False,False,False,False,False,False,False,False

In [8]:
df.isnull().sum() # to check the null values   ||  it have any null values use this function  #df.dropna()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [10]:
#Train and Test
from sklearn.model_selection import train_test_split  #needed #data and #label

In [14]:
#to take particlur row and colums form datasets using iloc
x = df.iloc[:,df.columns!='Outcome'] #data
y = df.iloc[:,df.columns=='Outcome'] #label

In [16]:
print(y)

     Outcome
0          1
1          0
2          1
3          0
4          1
..       ...
763        0
764        0
765        0
766        1
767        0

[768 rows x 1 columns]

In [17]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y,test_size=0.2)  #20% test data

In [18]:
xtrain.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
227,3,162,52,38,0,37.2,0.652,24
500,2,117,90,19,71,25.2,0.313,21
75,1,0,48,20,0,24.7,0.140,22
233,4,122,68,0,0,35.0,0.394,29
744,13,153,88,37,140,40.6,1.174,39

In [19]:
ytrain.head()

     Outcome
227        1
500        0
75         0
233        0
744        0

In [20]:
xtest.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
721,1,114,66,36,200,38.1,0.289,21
228,4,197,70,39,744,36.7,2.329,31
522,6,114,0,0,0,0.0,0.189,26
534,1,77,56,30,56,33.3,1.251,24
14,5,166,72,19,175,25.8,0.587,51

In [21]:
ytest.head()

     Outcome
721        0
228        0
522        0
534        0
14         1

In [22]:
#Algorithm
from sklearn.ensemble import RandomForestClassifier

In [23]:
model=RandomForestClassifier()

In [25]:
model.fit(xtrain,ytrain.values.ravel())  #to train the algorithm

RandomForestClassifier()

In [26]:
predict_output = model.predict(xtest)  # to predict  or test the algorithm
print(predict_output)

[0 1 0 0 1 0 0 0 0 0 0 0 0 1 0 0 1 1 0 1 1 0 0 0 0 0 1 1 0 0 0 0 0 1 1 0 1
 0 1 1 1 0 0 1 1 0 0 0 0 0 1 0 0 0 0 0 0 0 1 1 1 0 1 0 0 0 0 0 1 0 0 0 1 0
 0 1 0 0 0 0 1 0 1 1 0 0 0 1 1 1 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 1 1 0 0 1 1
 0 0 1 0 1 1 0 0 0 0 0 0 1 0 0 1 0 1 1 0 0 0 0 0 0 0 0 0 0 1 0 0 1 1 1 0 1
 0 1 0 0 1 1]

In [27]:
# to check similarity
from sklearn.metrics import accuracy_score

In [30]:
acc=accuracy_score(predict_output,ytest)
print('The accuracy score for RandomForsetAlgorithm : ',acc)

The accuracy score for RandomForsetAlgorithm :  0.7792207792207793